<div class="form">
    <div class="form__card">
        <h1 class="form__title">Admin Register</h1>

        <label class="form__label" for="name">Name</label>
        <input class="form__input" type="text" id="name" name="name" placeholder="Enter your name">

        <label class="form__label" for="last_name">Last Name</label>
        <input class="form__input" type="text" id="last_name" name="last_name" placeholder="Enter your last name">

        <label class="form__label" for="username">Username or Email</label>
        <input class="form__input" type="text" id="username" name="username" placeholder="Enter your username or email">

        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="password" id="password" name="password" placeholder="Enter your password">

        <button class="form__button">Register</button>
    </div>
</div>