<section class="dashboard">
  <div class="dashboard__card">
    <h3 class="dashboard__subtitle">Ingresos Diarios</h3>
    <h1 class="dashboard__value">{{ dailyIncome | currency }}</h1>
  </div>
  <div class="dashboard__card">
    <h3 class="dashboard__subtitle">Reservas Diarias</h3>
    <h1 class="dashboard__value">{{ dailyBookings }}</h1>
  </div>
  <div class="dashboard__card">
    <h3 class="dashboard__subtitle">Reservas Activas</h3>
    <div class="l-flex l-flex__justify-between l-width-100">
      <span class="dashboard__value">{{ activeBookings.occupied }}/{{ activeBookings.total }}</span>
    </div>
  </div>
</section>

<h1 class="index__title c-title">Ingresos por Hora (Hoy)</h1>

<section class="summary">
  <c-graphic class="summary__chart" [series]="barSeries" [categories]="barCategories" [colors]="barColors"></c-graphic>
</section>

<h1 class="index__title c-title">Reservas recientes</h1>

<section class="reservations">
  <div class="reservations__table">

    <table class="reservations__table-element">

      <tbody>
        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>

        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>

        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>

        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>


        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>


        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>


        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>


        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>


        <tr>
          <td class="reservations__cell">#B23L1</td>
          <td class="reservations__cell">Enrique Gracia</td>
          <td class="reservations__cell">2h</td>
          <td class="reservations__cell">15/07/2025</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>