.c-filter-select {
    --select-bg: var(--cyb-sys-color-white-9);
    --select-border-color: var(--cyb-sys-color-white-4);
    --select-radius: var(--cyb-sys-border-radius-4);
    --select-font-size: var(--cyb-sys-font-size-4);
    --select-text-color: var(--cyb-sys-color-gray-5);
    --select-hover-border: var(--cyb-sys-color-blue-7);

    padding: var(--cyb-sys-padding-5);
    border-radius: var(--select-radius);
    border: 1px solid var(--select-border-color);
    background-color: var(--select-bg);
    color: var(--select-text-color);
    font-size: var(--select-font-size);
    outline: none;
    cursor: pointer;

    &:focus {
        border-color: var(--select-hover-border);
    }
}