<div class="c-product-card l-flex l-flex__direction-column">
    <div class="c-product-card__image-wrapper">
        <img [src]="'images/' + product.image" [alt]="product.label" class="c-product-card__image">
    </div>
    <div class="c-product-card__content l-flex l-flex__direction-column l-flex__flex-1 l-flex__gap-3">
        <div class="l-flex l-flex__justify-space-between l-flex__align-start">
            <h2 class=" c-title c-title--medium">{{ product.label }}</h2>
            <span class="c-product-card__price c-title c-title--medium c-title--blue">{{ product.price }}€</span>
        </div>

        <span class="c-product-card__slug c-body c-body--small c-body--secondary">{{ product.slug }}</span>

        <div class="c-product-card__details l-flex l-flex__direction-column l-flex__gap-2">
            <div class="c-product-card__detail c-body c-body--small l-flex l-flex__justify-space-between">
                <span class="c-product-card__label">Categoría:</span>
                <span class="c-product-card__value c-body--primary">{{ product.category.label }}</span>
            </div>
        </div>

        <p class="c-product-card__desc c-body c-body--small c-body--secondary">{{ product.description }}</p>

        <div class="c-product-card__actions l-flex l-flex__gap-3">
            <button (click)="onEdit()"
                class="c-product-card__btn c-product-card__btn--modify l-flex l-flex__align-center l-flex__justify-center l-flex__flex-1">
                Modificar
            </button>
            <button (click)="onDelete()"
                class="c-product-card__btn c-product-card__btn--delete l-flex l-flex__align-center l-flex__justify-center l-flex__flex-1">
                Eliminar
            </button>
        </div>
    </div>
</div>