<section class="computers l-flex l-flex__direction-column">
    <h1 class="c-title">Ordenadores</h1>

    <div class="computers__controls l-flex l-flex__align-center">
        <c-search-bar class="l-flex__flex-1" placeholder="Buscar por nombre, categoría..." [value]="filterText"
            (search)="onSearch($event)"></c-search-bar>

        <c-filter-select placeholder="Todas las categorías" [options]="categoryFilterOptions" [value]="filterCategory"
            (valueChange)="onCategoryChange($event)">
        </c-filter-select>

        <c-reset-filters [disabled]="!filterText && !filterCategory" (reset)="resetFilters()">
        </c-reset-filters>

        <button class="computers__btn computers__btn--add" (click)="openCreateDialog()">
            Añadir Ordenador
        </button>
    </div>

    <table class="table">
        <thead>
            <tr class="table__row table__row--header">
                <th class="table__header-cell">ID</th>
                <th class="table__header-cell">Nombre</th>
                <th class="table__header-cell">Categoría</th>
                <th class="table__header-cell">Estado</th>
                <th class="table__header-cell">Desde</th>
                <th class="table__header-cell">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (computer of computers; track computer.id) {
            <tr class="table__row">
                <td class="table__cell">{{ computer.id }}</td>
                <td class="table__cell">{{ computer.label }}</td>
                <td class="table__cell">{{ computer.categoryPCResponse?.label }}</td>
                <td class="table__cell">
                    <c-status [status]="computer.status" (statusChange)="updateComputerStatus(computer, $event)"
                        [options]="statusOptions"></c-status>
                </td>
                <td class="table__cell">{{ computer.workingSince }}</td>
                <td class="table__cell">
                    <button class="computers__btn computers__btn--edit" (click)="openEditDialog(computer)">
                        Editar
                    </button>
                    <button class="computers__btn computers__btn--delete" (click)="openDeleteDialog(computer)">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <c-pagination [currentPage]="currentPage" [totalPages]="totalPages" [size]="size" route="/admin/computers">
    </c-pagination>
</section>