<section class="computers l-flex l-flex__direction-column">
    <h1 class="c-title">Ordenadores</h1>

    <div class="computers__controls l-flex l-flex__align-center">
        <c-search-bar class="l-flex__flex-1" placeholder="Buscar por nombre, categoría..." [value]="filterText"
            (search)="onSearch($event)"></c-search-bar>

        <c-filter-select placeholder="Todas las categorías" [options]="categoryFilterOptions" [value]="filterCategory"
            (valueChange)="onCategoryChange($event)">
        </c-filter-select>

        <c-reset-filters [disabled]="!filterText && !filterCategory" (reset)="resetFilters()">
        </c-reset-filters>

        <button class="computers__btn computers__btn--add" (click)="openCreateDialog()">
            Añadir Ordenador
        </button>
    </div>

    <div class="computers__grid">
        @for (computer of computers; track computer.id) {
        <c-computer-card [computer]="computer" [statusOptions]="statusOptions" (edit)="openEditDialog(computer)"
            (delete)="openDeleteDialog(computer)" (statusChange)="updateComputerStatus($event)"></c-computer-card>
        }
    </div>

    <c-pagination [currentPage]="currentPage" [totalPages]="totalPages" [size]="size" route="/admin/computers">
    </c-pagination>
</section>