.computers {
    --computers-padding: var(--cyb-sys-padding-5);
    --computers-gap: var(--cyb-sys-margin-5);

    --computers-nav-font-size: var(--cyb-sys-font-size-4);
    --computers-nav-radius: var(--cyb-sys-border-radius-4);

    --computers-border-color: var(--cyb-sys-color-white-4);
    --computers-input-bg: var(--cyb-sys-color-white-9);

    --computers-btn-bg: var(--cyb-sys-color-green-5);
    --computers-btn-color: var(--cyb-sys-color-white-9);
    --computers-btn-padding: var(--cyb-sys-padding-5) var(--cyb-sys-padding-5);
    --computers-btn-radius: var(--cyb-sys-border-radius-4);
    --computers-btn-hover-bg: var(--cyb-sys-color-green-3);

    --computers-btn-edit-bg: var(--cyb-sys-color-blue-7);
    --computers-btn-edit-hover: var(--cyb-sys-color-blue-8);
    --computers-btn-delete-bg: var(--cyb-sys-color-red-6);
    --computers-btn-delete-hover: var(--cyb-sys-color-red-7);

    width: 100%;
    gap: var(--computers-gap);
    padding: var(--computers-padding);

    &__controls {
        justify-content: space-between;
        margin-bottom: var(--computers-gap);
        gap: var(--computers-gap);
    }

    &__btn {
        padding: var(--computers-btn-padding);
        border: none;
        border-radius: var(--computers-btn-radius);
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s;
        margin-right: var(--cyb-sys-margin-3);

        &--add {
            background-color: var(--computers-btn-bg);
            color: var(--computers-btn-color);

            &:hover {
                background-color: var(--computers-btn-hover-bg);
            }
        }

        &--edit {
            background-color: var(--computers-btn-edit-bg);
            color: var(--computers-btn-color);
            padding: var(--cyb-sys-padding-3) var(--cyb-sys-padding-5);

            &:hover {
                background-color: var(--computers-btn-edit-hover);
            }
        }

        &--delete {
            background-color: var(--computers-btn-delete-bg);
            color: var(--computers-btn-color);
            padding: var(--cyb-sys-padding-3) var(--cyb-sys-padding-5);
            margin-right: 0;

            &:hover {
                background-color: var(--computers-btn-delete-hover);
            }
        }
    }

    @media (max-width: 768px) {
        &__controls {
            flex-direction: column;
            align-items: stretch;
        }
    }
}