.c-summary-card {
    background-color: var(--cyb-sys-color-white-9);
    padding: var(--cyb-sys-padding-5);
    border-radius: var(--cyb-sys-border-radius-4);
    border: 1px solid var(--cyb-sys-color-white-4);
    display: flex;
    flex-direction: column;
    gap: var(--cyb-sys-margin-3);

    &--orange {
        border-left: 4px solid var(--cyb-sys-color-orange-7);
    }

    &--blue {
        border-left: 4px solid var(--cyb-sys-color-blue-7);
    }

    &--green {
        border-left: 4px solid var(--cyb-sys-color-green-7);
    }

    &__title {
        font-size: var(--cyb-sys-font-size-3);
        color: var(--cyb-sys-color-gray-5);
        font-weight: 600;
        margin: 0;
    }

    &__value {
        font-size: var(--cyb-sys-font-size-7);
        font-weight: 700;
        color: var(--cyb-sys-font-weight-7);
        margin: 0;
    }
}