<div class="form">
    <div class="form__card">
        <h1 class="form__title">Admin Login</h1>
        <label class="form__label" for="username">Username or Email</label>
        <input class="form__input" type="text" id="username" name="username" placeholder="Enter your username or email">

        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="password" id="password" name="password" placeholder="Enter your password">

        <button class="form__button">Login</button>
    </div>
</div>