<section class="products l-flex l-flex__direction-column">
  <h1 class="products__title c-title">Productos</h1>

  <div class="products__controls l-flex l-flex__align-center">
    <c-search-bar class="l-flex__flex-1" placeholder="Buscar por nombre, ID..."></c-search-bar>

    <div class="products__filters l-flex">
      <button class="products__btn products__btn--add" (click)="openCreateDialog()">
        Añadir Producto
      </button>
    </div>
  </div>

  <div class="products__grid">
    @for (product of products; track product.id) {
    <c-product-card [product]="product" (edit)="openEditDialog(product)" (delete)="openDeleteDialog(product)">
    </c-product-card>
    }
  </div>

  <c-pagination [currentPage]="currentPage" [totalPages]="totalPages" route="/admin/products">
  </c-pagination>
</section>