<div class="stats">
    <div class="stats__card">
        <h3 class="stats__card-title">Ventas Mensuales</h3>
        <div class="stats__card-body">
            <c-graphic></c-graphic>
        </div>
    </div>
    <div class="stats__card">
        <h3 class="stats__card-title">Usuarios Activos</h3>
        <div class="stats__card-body">
            <c-graphic-line></c-graphic-line>
        </div>
    </div>
    <div class="stats__card">
        <h3 class="stats__card-title">Ventas Mensuales</h3>
        <div class="stats__card-body">
            <c-graphic-area></c-graphic-area>
        </div>
    </div>
    <div class="stats__card">
        <h3 class="stats__card-title">Ingresos vs Costes</h3>
        <div class="stats__card-body">
            <c-graphic-spline-area></c-graphic-spline-area>
        </div>
    </div>
</div>