<section class="stats l-flex l-flex__direction-column">
    <h1 class="stats__title c-title">Estadísticas</h1>

    <div class="stats__grid">
        <div class="stats__card">
            <h3 class="stats__card-title">Ingresos Mensuales</h3>
            <div class="stats__card-body">
                <c-graphic class="stats__graphic" [series]="barSeries" [categories]="barCategories"
                    [colors]="barColors"></c-graphic>
            </div>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title">Usuarios Mensuales</h3>
            <div class="stats__card-body">
                <c-graphic type="line" class="stats__graphic" [series]="lineSeries" [categories]="lineCategories"
                    [curve]="'straight'" [colors]="lineColors"></c-graphic>
            </div>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title">Reportes Mensuales</h3>
            <div class="stats__card-body">
                <c-graphic type="area" class="stats__graphic" [series]="areaSeries" [categories]="areaCategories"
                    [colors]="areaColors"></c-graphic>
            </div>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title">Ingresos vs Costes</h3>
            <div class="stats__card-body">
                <c-graphic type="area" [curve]="'smooth'" class="stats__graphic" [series]="splineSeries"
                    [categories]="splineCategories" [colors]="splineColors" [showDataLabels]="false"></c-graphic>
            </div>
        </div>
    </div>
</section>