.reservations {
  --padding-main: var(--cyb-sys-padding-8);
  --gap-main: var(--cyb-sys-margin-8);
  --title-font-size: var(--cyb-sys-font-size-7);
  --title-font-weight: var(--cyb-sys-font-weight-7);
  --title-padding-left: var(--cyb-sys-padding-8);
  --table-bg: var(--cyb-sys-color-white-9);
  --table-radius: var(--cyb-sys-border-radius-5);
  --card-padding: var(--cyb-sys-padding-5);
  --table-font-size: var(--cyb-sys-font-size-3);
  --table-head-bg: var(--cyb-sys-color-white-6);
  --table-head-color: var(--cyb-sys-color-gray-3);
  --table-body-border: 1px solid var(--cyb-sys-color-white-4);
  --cell-padding: var(--cyb-sys-padding-5);
  --cell-color: var(--cyb-sys-color-gray-5);
  --shadow: var(--cyb-sys-shadow-2);

  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: var(--gap-main);

  &__title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    padding-left: var(--title-padding-left);
  }

  &__table {
    background: var(--table-bg);
    border-radius: var(--table-radius);
    width: 100%;
    padding: var(--card-padding);
    box-shadow: var(--shadow);
  }

  &__table-element {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--table-font-size);

    thead tr {
      background: var(--table-head-bg);
      text-align: left;
    }

    thead th {
      padding: var(--cell-padding);
      color: var(--table-head-color);
      font-weight: 600;
    }

    tbody tr {
      border-bottom: var(--table-body-border);
    }

    .reservations__cell {
      padding: var(--cell-padding);
      color: var(--cell-color);
    }

    th,
    td,
    tr {
      border-bottom-width: 0 !important;
    }
  }
}