<section class="orders l-flex l-flex__direction--column">
    <h1 class="orders__title">Pedidos</h1>

    <div class="orders__controls l-flex l-flex__align-items--center">
        <div class="orders__search-wrapper l-flex l-flex__align-items--center">
            <input type="text" class="orders__search-input" placeholder="Buscar por nombre, ID...">
            <button class="orders__search-btn l-flex l-flex__align-items--center l-flex__justify-content--center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
                    <path
                        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
            </button>
        </div>

        <div class="orders__filters l-flex">
            <select class="orders__select">
                <option value="">Todos los estados</option>
                <option value="pending">Pendiente</option>
                <option value="completed">Completado</option>
                <option value="shipped">Enviado</option>
            </select>

            <input type="date" class="orders__date-input">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="table__row table__row--header">
                <th class="table__header-cell">Número del pedido</th>
                <th class="table__header-cell">Nombre del usuario</th>
                <th class="table__header-cell">Estado</th>
                <th class="table__header-cell">Precio</th>
                <th class="table__header-cell">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @for (order of paginatedOrders; track order.id) {
            <tr class="table__row">
                <td class="table__cell">
                    <a routerLink="/admin/orders" class="orders__link">{{ order.orderId }}</a>
                </td>
                <td class="table__cell">{{ order.customer }}</td>
                <td class="table__cell">
                    <c-status [(status)]="order.status" [options]="statusOptions"></c-status>
                </td>
                <td class="table__cell">{{ order.price }}</td>
                <td class="table__cell">{{ order.date }}</td>
            </tr>
            }
        </tbody>
    </table>

    <c-pagination [currentPage]="currentPage" [totalPages]="totalPages" route="/admin/orders">
    </c-pagination>
</section>